*{
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.box-1{
    width: 100vw;
    height: 100vh;
    background-color:#8ec3eb;
}

.centre{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

@keyframes example {
  0% {
    background-color: #7e9a9a;
    top: 50vh; /* Starting position at 25% from the top */
    width: 5vw;
    height: 10vh;
  }
  75% {
    background-color: #7e9a9a;
    top: 0vh; /* Bottom position at 0% from the top */
    width: 5vw;
    height: 10vh;
    
  }
  100%{
    background-color: #7e9a9a;
    width: 130vw;
    height: 130vh;
  }
}

.box-2{
  position: relative;
  width: 5vw;
  height: 10vh;
  background-color: #7e9a9a;
  animation-name: example;
  animation-duration: 2s;
  border-radius: 6rem;
  animation-iteration-count: 1; /* Set it to 1 to run the animation once */
  animation-fill-mode: forwards;
}